body{
    margin: 0;
    min-height: 100vh;
    font-family: "Times New Roman", Georgia, serif;
    display: flex;
    flex-direction: column;
}

#gap{
    width: 1000px;
    justify-self: center;
}

.topBar>#gap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul{
    list-style: none;
    display: flex;
    gap: 12px;
}

a{
    text-decoration: none;
}

a, #desc {
    font-size: 18px;
    color: #e5e7eb;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

#header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.topBar, .first {
    background-color: #1F2937;
}

.first>#gap{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.first{
    padding: 100px;
}

.left{
    flex:1;
}

#imgMain{
    width: 400px;
    height: 200px;
    flex-shrink: 0;
    align-self: center;
    flex: 1;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.second{
    padding: 100px;
    text-align: center;
}

#headerA{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
}

#imgSml{
    height: 150px;
}

.Plant, #imgSml{
    width: 150px;
    flex-shrink: 0;
    border-radius: 10px;
}

.text{
    color: #bfc1c4;
}

.third {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

#quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
}

#author {
    text-align: right;
}


.fourth {
    flex-shrink: 1;
}


button {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 800;
}

button.fBut {
  background: #3882f6;
  border: 1px solid royalblue;
  color: white;
}

button.sBut {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}