body{
    margin: 0;
    min-height: 100vh;
    font-family: "Times New Roman", Georgia, serif;
    display: flex;
    flex-direction: column;
}

#gap{
    width: 800px;
    justify-self: center;
}

.topBar>#gap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul{
    list-style: none;
    display: flex;
    gap: 12px;
}

a{
    text-decoration: none;
}

a, #desc {
    font-size: 18px;
    color: #e5e7eb;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

#header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.topBar, .first {
    background-color: #1F2937;
}

.second, .fourth {
    background-color: #d7eafd;
}

.first>#gap{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.first{
    padding: 100px;
    
}

#imgMain{
    width: 400px;
    height: 200px;
    flex-shrink: 0;
    align-self: center;
}

.third {
    background-color: #e5e7eb;
}

.fourth {
    flex-shrink: 1;
}
